<div class="container-fluid">
      <% if(!session){%>
      <div class="row">
            <h2 style="font-weight:bold; background-color: #ff6964">Se ha eliminado su sesión. Elija el servicio de nuevo.</h2>
      </div>
      <%}%>
      <div class="row">
            <h2>Elija el servicio al que quiere acceder</h2>
      </div>
      <div class="row">
            <div class="col-3">
                  <a href="/graphfes">Graphfes</a>
            </div>
            <div class="col-3">
                  <a href="/mwdex">MWDEX </a>
            </div>
            <div class="col-3">
                  <a href="/test">Local Test</a>
            </div>
      </div>
</div>
