<!DOCTYPE html>
<html lang="es">
<meta charset="UTF-8">
    <title>Dashboard</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<style>
    body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    }

    a {
        color: #00B7FF;
    }
</style>
<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h1>This is Layout</h1>
            </div>
            <div class="col-md-3">
                <button><a href="/mwdex">MWDEX</a></button>
            </div>
            <div class="col-md-3">
                <button><a href="/graphfes">GraphFES</a></button>
            </div>
            <div class="col-md-3">
                <button><a href="/test">Local Test</a></button>
            </div>

        </div>

    </div>
</header>
<section>

    <div>
    <%- body %>
    </div>
</section>
<p class="text-center text-muted"> TIGE-UPM - Universidad Politécnica de Madrid <%=new Date().getFullYear()%></p>
</body>
</html>
<!--Scripts required for Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>